/***
*
General css
*
***/
html{
  scroll-behavior: smooth;
}

footer{
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
  width:100%;
}

#body{
  background-color: #474e5d;
}
/***
*
Navigation css
*
***/
#gymNav{
    margin-left: 2%!important;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#gymNav ul li a .dropdown-item{
    color: #909090;
}

.dropdown-item:hover{
    background-color: #acacac!important;
}

#gymNav ul li a:hover {
  color:white!important;
  text-decoration: underline;
}

.activeGym a{
    color:white!important;
}

/***
*
Gym Classes css
*
***/
#schedule tr:hover{
    color:white!important;
    background-color: #3c424f!important;
}

/***
*
Sign up css
*
***/
#signUpForm{
    margin:3% auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    height: auto;
}

#signUpForm input:focus{
    border-color: green!important;
    box-shadow:0 0 0 .2rem rgba(0,255,0,.25)!important;
}

/***
*
Media CSS
*
***/

@media only screen and (max-width: 576px) {
  #schedule td a img{
    width: 105%!important;
    max-width: 42px;
    max-height: 42px;
  }
  #schedule td{
    padding: .25rem!important;
  }
}

@media only screen and (min-width: 577px) {
  #schedule td a img{
    width: 100%!important;
  }
}

@media only screen and (min-width: 768px) {
  #schedule td a img{
    width: 70%!important;
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  #schedule td a img{
    width: 45%!important;
  }
}
