/***
*
General css
*
***/
html{
  scroll-behavior: smooth;
}

footer{
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
  width:100%;
}

#body{
  background-color: #474e5d;
}

#float-button{
  display: none;
  position: fixed;
  width:40px;
  height:40px;
  line-height:30px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

#float-button:hover{
  background-color:#54D450 !important;
}
/***
*
Navigation css
*
***/
#gymNav{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#gymNav ul li a .dropdown-item{
    color: #909090;
}

.dropdown-item:hover{
    background-color: #acacac!important;
}

#gymNav ul li a:hover {
  color:white!important;
  text-decoration: underline;
}

.activeGym a{
    color:white!important;
}

/***
*
Gym Classes css
*
***/
#schedule tr:hover{
    color:white!important;
    background-color: #3c424f!important;
}
/***
*
Sign up css
*
***/
#signUpForm{
    margin:3% auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    height: auto;
}

#signUpForm input:focus{
    border-color: green!important;
    box-shadow:0 0 0 .2rem rgba(0,255,0,.25)!important;
}

/***
*
404 Page
*
***/
#messsage404mobile span{
    font-family: Montserrat, Roboto, sans-serif;
    letter-spacing: -.15em!important;
}

#message404desktop{
  font-family: Montserrat, Roboto, sans-serif;
}

/***
*
FAQ CSS
*
***/
.questionLinks{
  color:#000000;
  font-size: 20px;
}

.questionDiv{
  background-color: #e3e3e3;
}

.answerDiv{
  display:none;
}

.answerTag{
  font-size:15px;
}

.answerWords{
  font-size:18px;
}

.qTag{
  float: left;
}

.qDesc{
  float: none;
}

/***
*
Subscription CSS
*
***/
.packageImg{
  height:220px;
}

.packageInfo{
  height:280px;
}

.subscribeBtn{
  position: absolute;
  bottom: 2%;
  left: 30%;
  width: 40%;
}

/***
*
Studio CSS
*
***/
.studioWidth{
  width:60%;
  margin:auto;
}

/***
*
Media CSS
*
***/

@media only screen and (max-width: 576px) {
  #schedule td a img{
    width: 105%!important;
    max-width: 42px;
    max-height: 42px;
  }
  #schedule td{
    padding: .25rem!important;
  }
  #message404desktop{display: none;}
  #classDesc{
    font-size: 1rem!important;
    line-height: 1.5!important;
  }
}

@media only screen and (min-width: 577px) {
  #schedule td a img{
    width: 100%!important;
  }
  #message404mobile{display: visible;}
  #message404desktop{display: visible;}
}

@media only screen and (min-width: 768px) {
  #schedule td a img{
    width: 70%!important;
  }
  #message404mobile{display: none;}
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  #schedule td a img{
    width: 45%!important;
  }
}

/***
*
FAQ CSS
*
***/
@media only screen and (max-width: 767px) {
  .qDesc{
    margin-left: 30px;
  }
}

/***
*
Subscription CSS
*
***/
@media only screen and (max-width: 1199px) {
  .packageImg{
    height:180px;
  }

  .packageInfo{
    height:260px;
  }

  .subscribeBtn{
    left: 20%;
    width: 60%;
  }
}

@media only screen and (max-width: 991px) {
  .packageImg{
    height:450px;
  }

  .packageInfo{
    height:315px;
  }

  .packageInfo h5{
    font-size:30px;
    margin-bottom:30px;
  }

  .packageInfo li{
    font-size:20px;
  }

  .subscribeBtn{
    font-size:20px;
  }
}

@media only screen and (max-width: 767px) {
  .packageImg{
    height:400px;
  }

  .packageInfo{
    height:315px;
  }
}

@media only screen and (max-width: 576px) {
  .packageImg{
    height:360px;
  }

  .packageInfo{
    height:355px;
  }

  .packageInfo h5{
    font-size:33px;
  }

  .packageInfo li{
    font-size:23px;
  }

  .subscribeBtn{
    font-size:23px;
  }

  .subscribeBtn{
    left: 15%;
    width: 70%;
  }
}
